**/*.[8qkv5967o]
**/*[8qkv5967o].pcc
**/[8qkv5967o].out
386/bin/*
386/lib/*
68020/bin/*
68020/lib/*
amd64/bin/*
amd64/lib/*
arm/bin/*
arm/lib/*
arm64/bin/*
arm64/lib/*
mips/bin/*
mips/lib/*
power/bin/*
power/lib/*
sparc/bin/*
sparc/lib/*
sparc64/bin/*
sparc64/lib/*
spim/bin/*
spim/lib/*

# Garbage
*.*_2DEL
*.log
m

# Linux complained part
sys/lib/ape/locale.alias
sys/src/ape/cmd/**/lib*.a[01256789kqtv]
sys/src/cmd/*c/enam.c
sys/src/external/f2c/lib/arithchk
