#
# run-tests.cfg
#

## app to test
app="$(pwd)/src/unace"
## basic test: help param & ret code, further tests cannot happen if this fails
help_param="-h"
help_ret_code=0
## if WINE is supported but fails, display message to use MSYS (default: no)
wine_require_msys=yes

## checksum app (md5, sha1, sha256, sha512)
CHKSUM_TYPE='md5'
## force slower method to check sums print file checksum on error (default: no)
#PRINT_SUM_ON_ERROR=no
## do the tests require wget/curl? (default: no)
#DOWNLOAD_IS_REQUIRED=no

## run_tests()
## the subdir is specially useful when decompressing archives (default: no)
TEST_USE_SUBDIR='yes'
## run app through gdb if the segfaults? (default: no)
TEST_RUN_GDB_ON_SEGFAULT='yes'
## pollute stdout with the error logs? (default: no)
#VERBOSE_ERRORS=yes #this is for CI

## how to configure && make
make_cmd='make'
make_clean='make clean'
configure_opts='--prefix=/usr'

## extra stuff
test_acev1_dir=$(pwd)/tests.ace.v1
test_acev2_dir=$(pwd)/tests.ace.v2


#==================================================
#               run_tests()
#==================================================

run_tests()
{

tdir=${test_acev1_dir}

#TEST_FILE=${tdir}/dirtraversal1.ace
#TEST_EXIT_CODE=7
#run_test ${app} x -y ${TEST_FILE}

#TEST_FILE=${tdir}/dirtraversal1.ace
#TEST_EXIT_CODE=7
#run_test ${app} x -y ${TEST_FILE}

TEST_FILE=${tdir}/out_of_bounds.ace
TEST_EXIT_CODE="!139" # 139 = segfault
run_test ${app} t ${TEST_FILE}

TEST_FILE=${tdir}/onefile.ace
run_test ${app} x -y ${TEST_FILE}

TEST_FILE=${tdir}/passwd.ace
TEST_EXIT_CODE=9 #TODO: crc error but the file is ok
run_test ${app} x -y -p1234 ${TEST_FILE}

TEST_FILE=${tdir}/ZGFX2.ace
run_test ${app} x -y ${TEST_FILE}

TEST_FILE=${tdir}/zdir.ace
run_test ${app} x -y ${TEST_FILE}

TEST_FILE=${tdir}/multivolume.ace
run_test ${app} x -y ${TEST_FILE}

TEST_FILE=${tdir}/ALCHT.ACE
run_test ${app} x -y ${TEST_FILE}

TEST_FILE=${tdir}/Patch.ace
run_test ${app} x -y ${TEST_FILE}

TEST_FILE=${tdir}/trps.ace
run_test ${app} x -y ${TEST_FILE}

#TEST_FILE=${tdir}/karate.ace
#TEST_FILE_URL='https://telparia.com/fileFormatSamples/archive/ace/karate.ace'
#run_test ${app} x -y ${TEST_FILE}

# ===========================================================================
# v2

tdir=${test_acev2_dir}

TEST_FILE=${tdir}/dir2.ace
run_test ${app} x -y ${TEST_FILE}

TEST_FILE=${tdir}/multivol2.ace
run_test ${app} x -y ${TEST_FILE}

TEST_FILE=${tdir}/passwd2.ace
run_test ${app} x -y -p1234 ${TEST_FILE}

}

