#!/bin/rc
# Test vts-attach against -n vts.
mount -c /srv/vts /n/vts >[2]/dev/null

# Run vts-attach for 2s
echo step1
/amd64/bin/vts-attach > /tmp/attach.out &
APID=$apid
sleep 1

# Write a known string to cons (no rc, so this goes directly into parser)
echo step2: write to cons
awk 'BEGIN{printf "TESTSTRING"}' > /n/vts/1/cons

sleep 1
echo kill > /proc/$APID/note >[2]/dev/null

sleep 1
echo === size ===
ls -l /tmp/attach.out
echo === count m bytes ===
xd /tmp/attach.out > /tmp/attach.hex
m_count=`{grep -c 6d /tmp/attach.hex}
echo 'm bytes lines: '$m_count
echo === any printable embedded ===
grep -c 'T\|E\|S' /tmp/attach.hex
